    body{
			background-color: black;
		}
		h1{
			color: whitesmoke;
			text-align: center;
		}
		.robot{
			height: 650px;
			border: 2px solid green;
		}
		.head{
			width: 200px;
			height: 150px;
			margin: 20px auto;
			background-color: green;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
			margin-bottom: 10px;
			transition: width 2s ease;
		}
        .robot:hover .head{
        	width: 250px;
        	animation: movehead 1s infinite;
        }

        @keyframes movehead{
        	0%
        	{
        		width: 200px;
        	}
        	25%
        	{
        		width: 220px;
        	}
        	50%{
        		width: 250px;
        	}
        	75%{
        		width: 220px;
        	}
        	100%{
        		width: 200px;
        	}
        }

		.eye{
			position: relative;
			top: 100px;
			}
		.lefteye{
			background-color: black;
			width: 30px;
			height: 30px;
			border-radius: 20px;
			display: inline-block;
			margin-left: 30px;
			transition: transform 1s ease-in-out;
		}
		.righteye{
			background-color: black;
			width: 30px;
			height: 30px;
			border-radius: 20px;
			display: inline-block;
			margin-left: 80px;
			transition: transform 1s ease-in-out;
		}
       
        .robot:hover .lefteye{
        	transform: translateX(-10px);
        	animation: movelefteye 1s infinite;
        }
        @keyframes movelefteye{
        	0%
        	{
        		transform: translateX(0px);
        	}
        	25%
        	{
        		transform: translateX(-5px);
        	}
        	50%{
        		transform: translateX(-10px);
        	}
        	75%{
        		transform: translateX(-5px);
        	}
        	100%{
        		transform: translateX(0px);
        	}
        }
        .robot:hover .righteye{
        	transform: translateX(40px);
        	animation: moverighteye 1s infinite;
        }
        @keyframes moverighteye{
        	0%
        	{
        		transform: translateX(0px);
        	}
        	25%
        	{
        		transform: translateX(20px);
        	}
        	50%{
        		transform: translateX(40px);
        	}
        	75%{
        		transform: translateX(20px);
        	}
        	100%{
        		transform: translateX(0px);
        	}
        }

        /* body stle */
		.body1{
			display: flex;
		}
		.center{
			 width: 200px;
			 height: 220px;
			 margin: 0 auto;
			 background-color: green;
			 border-radius:0 0 30px 30px;
			 transition: all 1s ease-in-out;
			 margin-bottom: 10px;
        }

        .robot:hover .center{
			transform: rotate(360deg);
			border-radius: 30px;
			animation: movecenter 1s infinite;
		}

		@keyframes movecenter{
			from{
				transform: rotate(0deg);
			}
			to{
				transform: rotate(360deg);
			}
		}

		.leftarm{
			width: 40px;
			height: 160px;
			background-color: green;
			border-radius: 20px;
			margin-left: 600px;
			transition: width 2s ease;
		}
        
        .robot:hover .leftarm{
			animation: moveleftarm 1s infinite;
			transform: rotate(90deg);
		}

		@keyframes moveleftarm{
			0%{
				transform: rotate(0deg);
				transform-origin: top center;
			}
			50%{
				transform: rotate(90deg);
				transform-origin: top center;
			}
			100%{
				transform: rotate(0deg);
				transform-origin: top center;
			}

		}

        .rightarm{
			width: 40px;
			height: 160px;
			background-color: green;
			border-radius: 20px;
			margin-right: 600px;
			transition: width 2s ease;
		}
		
	    .robot:hover .rightarm{
			animation: moverightarm 1s infinite;
			transform: rotate(-90deg);
		}
		
		
		@keyframes moverightarm{
			0%{
				transform: rotate(0deg);
				transform-origin: top center;
			}
			50%{
				transform: rotate(-90deg);
				transform-origin: top center;
			}
			100%{
				transform: rotate(0deg);
				transform-origin: top center;
			}
        }
		/* leg style */
		.leg{
			display: flex;
		}
				
		.leftleg{
			width: 45px;
			height: 150px;
			background-color: green;
			border-radius:0 0 20px 20px;
			margin-left: 690px;
			transition: width 2s ease;
		}

		.robot:hover .leftleg{
	        transform: rotate(-70deg);
	        border-radius: 20px;
	        animation: moveleftleg 1s infinite;
		}

		@keyframes moveleftleg{
			0%{
				transform: rotate(0deg);
				transform-origin: top center;
			}
			50%{
				transform: rotate(-70deg);
				transform-origin: top center;
			}
			100%{
				transform: rotate(0deg);
				transform-origin: top center;
			}
		}

		.rightleg{
			width: 45px;
			height: 150px;
			background-color: green;
			border-radius:0 0 20px 20px;
			margin-left: 50px;
			transition: width 2s ease;
			
		}

		.robot:hover .rightleg{
	        transform: rotate(-70deg);
	        border-radius: 20px;
	        animation: moverightleg 1s infinite;
		}

		@keyframes moverightleg{
			0%{
				transform: rotate(0deg);
				transform-origin: top center;
			}
			50%{
				transform: rotate(-70deg);
				transform-origin: top center;
			}
			100%{
				transform: rotate(0deg);
				transform-origin: top center;
			}
		}
